

.image1{
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    // animation: slideInFromLeft 10s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.landscape{
  grid-column: span 2;
}

.portrait{
  grid-row: span 2;
}

.square{
  grid-column: span 1;
}

.big-one{
  grid-column: span 2;
  grid-row: span 2; 
}

.image2{
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.image3{
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.image1:hover, .image2:hover, .image3:hover{
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gallerySlide{
  animation: slideInFromLeft 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@for $i from 1 through 15 {
  .image1:nth-child(#{$i}) {
      animation: slideInFromLeft $i * 2 / 8 + 0.5 + s ease-in-out;
      // animation-delay: $i * (1s / 4);
  }
}

@for $i from 1 through 15 {
  .image2:nth-child(#{$i}) {
      animation: slideRotateZ $i * 2 / 8 + 0.5 + .5 + s ease-in-out;
      // animation-delay: $i * (1s / 4);
  }
}

@for $i from 1 through 15 {
  .image3:nth-child(#{$i}) {
      animation: slideRotateX $i  * 2 / 8 + 0.5 + 1 + s ease-in-out;
      // animation-delay: $i * (1s / 4);
  }
}

@keyframes slideRotateZ{
  from{
    transform: translateX(-1000px) rotateZ(0deg)
  } to{
    transform: translateX(0) rotateZ(360deg)
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-900px) rotateY(0deg);
  }
  100% {    
    transform: translateX(0) rotateY(360deg); 
  }
}

@keyframes slideRotateX{
  from{
    transform: translateX(-1000px) rotateX(0deg)
  } to{
    transform: translateX(0) rotateX(360deg)
  }
}