

.image1{
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    // animation: slideInFromLeft 10s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.landscape{
  grid-column: span 2;
}

.portrait{
  grid-row: span 2;
}

.square{
  grid-column: 1/2;
}

.big-one{
  grid-column: span 2;
  grid-row: span 2; 
}

.image2{
  height: 70px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  // animation: slideInFromLeft 10s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 5px;
  padding: 5px;
}

.image3{
  height: 70px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  // animation: slideInFromLeft 10s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 5px;
  padding: 5px;
}

.gallerySlide{
  animation: slideInFromLeft 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@for $i from 1 through 9 {
  .image1:nth-child(#{$i}) {
      animation: slideInFromLeft $i + s ease-in-out;
      // animation-delay: $i * (1s / 4);
  }
}

@for $i from 1 through 9 {
  .image2:nth-child(#{$i}) {
      animation: slideInFromLeft $i + .5 + s ease-in-out;
      // animation-delay: $i * (1s / 4);
  }
}

@for $i from 1 through 9 {
  .image3:nth-child(#{$i}) {
      animation: slideInFromLeft $i + 1 + s ease-in-out;
      // animation-delay: $i * (1s / 4);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-900px) rotateY(0deg);
  }
  100% {    
    transform: translateX(0) rotateY(360deg); 
  }
}
