#galleries{
    margin-top: 10px;
    margin-left: 20px;
}

#gallery2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap:10px;
    margin-right: 10px;
}

#gallery1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap:10px;
    margin-right: 10px;
}

#gallery3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap:10px;
    margin-right: 10px;
}

#gallery1:hover, #gallery2:hover, #gallery3:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.galleryBar{
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90%;
    height: 10%
}

.galleryBar h3{
    font-family: "Roboto";
    color: white;
    font-size: 2em;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 8px;
}