/* @font-face { 
    font-family: "TitilliumWeb-Black";
    src: url('../fonts/Titillium_Web/TitilliumWeb-Black.ttf') format('ttf');
    } */

@font-face {
    font-family: 'break_bold';
    src: local('break_bold'), url('../fonts/Break_Font/break_bold.woff') format('woff');
    }

html, body{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#carousel{
    height: 500px;
    width: 100%;
}

.home{
    height: 100vh;
    width: 100%;
    overflow:hidden;
}

.image-gallery-right-nav, .image-gallery-left-nav{
    display: none;
}

.image-gallery-image, img{
    height: 100%;
}

/* #homeBackground{
    position: relative;
    background-image: url(../images/blur-clean-clear.jpg);
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;
} */

#homeBox{
    z-index: 5;
    /* position: absolute; */
    height: 26vh;
    width: 100%;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px;
    position: relative;

}

#homeBox:hover{
    opacity: .9;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1{
    font-family: "break_bold" !important;
    font-size: 9em !important;
    font-weight: bolder !important;
}

a{
    text-decoration: none !important;
}

.hvr-bounce-to-right {
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    overflow: hidden;
  }
  .hvr-bounce-to-right:before {
    border-radius: 20px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    opacity: .9;
  }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
    border-radius: 20px;
    opacity: .9;
  }
  .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    opacity: .9;
}