html, body{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#carousel{
    height: 500px;
    width: 100%;
}

.image-gallery-right-nav, .image-gallery-left-nav{
    display: none;
}

.image-gallery-image, img{
    height: 100%;
}