/* @font-face { 
    font-family: "TitilliumWeb-Black";
    src: url('../fonts/Titillium_Web/TitilliumWeb-Black.ttf') format('ttf');
    } */

@font-face {
    font-family: 'break_bold';
    src: local('break_bold'), url('../fonts/Break_Font/break_bold.ttf') format('ttf');
    }

html, body{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#carousel{
    height: 500px;
    width: 100%;
}

.image-gallery-right-nav, .image-gallery-left-nav{
    display: none;
}

.image-gallery-image, img{
    height: 100%;
}

#homeBackground{
    position: relative;
    background-image: url(../images/blur-clean-clear.jpg);
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#homeBox{
    z-index: 2;
    position: absolute;
    height: 25vh;
    width: 60vw;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#homeBox:hover{
    opacity: .9;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1{
    font-family: "break_bold" !important;
    font-size: 6em !important;
    font-weight: 700 !important;
}
