.fullscreen{
    height: 100%;
    width: 100%
}


.vertical{
    display: flex;
    flex-direction: column;
}

.display{
    display: none;
}

.nav-item{
    padding-left: 8px;
}

.nav-link:hover{
    text-decoration: none;
}