// @import "./gallery.scss";
// @import "./slider.scss";
// @import "./slide.scss";
// @import "./leftarrow.scss";
// @import "./rightarrow.scss";

html, body, .app, .main{
    height: 100%;
    width: 100%;
    // overflow-y: scroll;
    text-decoration: none;
    box-sizing: border-box;
}

@mixin arrow {
    z-index: 6;
    position: absolute;
    display: inline-flex;
    background-color: white;
}